* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.clearfix{
  float:none;
  clear: both;

}
body {
     background-color: #EE4805;
    min-height: 1000px;
    font-family: "helvetica neue";
    background: url(fondo.png), #EE4805;
    background: url(fondo.png),
      -webkit-gradient(linear, right top, left top, from(#EE4805), to(#DF6635 ));
    background: url(fondo.png),
      linear-gradient(to left, ##EE4805, ##EE4805);
}
#global{
 width: 80%;
 margin: :0px auto;
 margin-top: 30px;
 padding: 20px;
 background-color: white;
 #coloca un sombreado al borde de la section
 box-shadow: 0px opx 2px #ccc;
}
#logo{
  font-family:  "verdana","arial";
  font-size: 10px;
  letter-spacing: 4px;
  line-height: 75px;
  background-color: #EE9A78;
  text-align: center;
  width: 500px;
  height: 80px;
  margin-bottom: 20px;
  float:left;
}
#menu{
  font-family: helvetica,arial;
  background:#333;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
#menu ul{
  line-height: 46px;
  list-style: none;
}
#menu ul li{
  height: 46px;
  display: inline-block;
  transition: all 300ms;
}
#menu ul li:hover{
  background:#EE9A78;

}
#menu a{
  display: block;
  color: white;
  text-decoration:none;
  padding-left: 30px;
  padding-right: 30px;

}
#posts{
  width: 60%;
  float: left;
  font-family: arial;
} 
.post{
  padding: 7px;
}
.post h2{
 font-size: 30px;
 color:#ccc;
}
.post .date {
  display: block;
  color: gray;
  margin-top: 2px;

}
.post p{
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 22 px;
}
.button-mas{
  font-size: 14px;
  text-align: center;
  display:block; 
  padding: 15px;
  background: #EE9A78;
  color: black;
  text-decoration: none;
  margin-top: 10px;
  width: 100px;

}
